@font-face {
  font-family: "Norwester";
  src: local("Norwester"), url("./norwester.otf");
}

body {
  background-color: #f3ebde;
}

.title {
  font-weight: 400;
  font-size: 120px;
  font-family: "Norwester";
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 48px;
  }

  .menuItem {
    font-size: medium;
  }
}
